@media(max-width:575.98px){
    .footer_area  {
        font-size: 9px !important;
    }
    .container-fluid {
      height: auto;
    }
    .img-cover h3 {
      padding: 2em 0;
      font-size: 20px;
    }
    .col {
      margin-top: 2em;
      font-size: 13px;
    }
    .col h3 {
      font-size: 14px;
    }
    .col-md-6 {
      max-width: none;
    }
    #col-1 {
      margin-right: 0;
    }
}

@media (min-width: 992px){
  .col-lg-6 {
    flex: 0 0 47%;
  }
      .col-md-6 {
      max-width: none;
    }
}




