*{
  box-sizing: border-box;
}
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    font-family: sans-serif;
}
a:link, a:visited a:hover {
  text-decoration: none;
}
/*=========== navbar =============*/
.navbar {
  position: absolute;
}
.navbar-brand {
  height: 4rem;
  overflow: hidden;
}

.navbar-toggler {
    border-color: rgb(255,102,203);
}
.img-responsive {
   content: url('../img/listify-logo-white.svg')
}
#nav-items {
  color: #FFF;
}
.navbar-toggler-icon {
  color: #FFF;
}
/*=========== video background =============*/


.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  margin: 0;
  height: 712px;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  object-fit: cover;
  opacity:0.5;
}

/*=========== Cover =============*/

.caption {
  position: relative;
  top: 20%;
  width: 100%;
  color: white;
  z-index: 1;
  margin: 6rem 0;
}

.caption h1 {
  font-family: "Playfair Display",Georgia,Times,"Times New Roman",serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .2rem;
}
.caption p{
  font-family: "Playfair Display",Georgia,Times,"Times New Roman",serif;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.form-inline {
  margin-top: 4rem;
}
.form-inline .form-control {
  width: 23% ;
}
.form-inline .btn {
  width: auto ;
}

/*============ Deals===========*/
.row-text h2 {
  font-size: 38px;
  font-family: "Playfair Display",Georgia,Times,"Times New Roman",serif;
  line-height: normal;
  font-weight: bold;
  color: #454545;
  word-break: normal;
  text-align: center;
}
.row-text p{
  font-size: 15px;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: normal;
  font-weight: normal;
  color: #686868;
  text-align: center;
}

    /*============ Card ===========*/
.card {
  width: auto;
  margin: 1rem 0;
}
.card .img-container{
  background-color: black;
}
.card .card-img-top{
  opacity: 0.5;
}
.card-img-overlay {
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img-overlay span {
  font-family: sans-serif;
  width: 23%;
  border: 2px solid red;
  border-radius: 5px;
  background-color: red;
  padding: 0 0.3em;
}

.card-img-overlay h6 {
  font-size: 20px;
  font-family: "Playfair Display",Georgia,Times,"Times New Roman", sans-serif;
  margin-bottom: 0.75rem;
}
.card-img-overlay p {
  font-size: 14px;
  font-family: sans-serif;
}

.card-body {
  display: flex;
  position: relative;
  padding: 1rem;
}
.card-body p {
  margin: 0;
}
.clip-circle {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  width: 64px;
  height: 64px;
  clip-path: circle(32px at center);
}
.top-margin {
  margin-top: 8em;
}

.top-buffer { 
  margin-top: 3rem; 
}

.fa {
  color: orange;
}


/*============ Articles ===========*/

.blog-card {
  width: auto;
  height: 30rem;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin: 2em 0;
}

.card-img-overlay-2 {
  height: 100%;
  background-color: rgba(0,0,0,.5);
  padding: 0 1.8rem;
  padding-top:170px ;
  text-shadow: rgba(0,0,0,.8) 0 1px 0
}

.blog-overlay .article-title {
  color: white;
  text-shadow: rgba(0,0,0,.8) 0 1px 0;
  font-size: 21px;
  font-weight: 400;
}
.blog-overlay .article-text {
  color: white;
  line-height: 2;
}

a.article-text:link, a.article-text:visited {
  text-decoration: none;
  color: #fff;
}

.article-title::selection {
  background-color: red;
}
.article-text::selection {
  background-color: red;
}
.row-text a {
  background-color: #ef3652;
  font-size: 15px;
  line-height: normal;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  border: 0;
  border-radius: 3px;
  padding: 18px 40px;
  color: white;
}




/* Footer */
.footer_area{
    background-color:#261d1e;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.footer_container{
    color: #454545;
    text-align:center;
}
.footer_container .social_networks img{
    width:1.2rem;  
    margin: 1rem;
    transition: all 0.3s;
    opacity: 0.3;
}
.footer_container .social_networks img:hover{
    opacity:0.5;
    transform: translateY(-2px);
}
.footer_container .copyright{
    font-size:1.2rem;
}










